*.swp
*.s
hello-cairo
hello.png
plant
push-ical.sh
*.ics
calendar.txt
harvest.txt
plant-calendar.txt
sprouting.txt
src/android-get-temp/gardenWeather/bin/
src/android-get-temp/gardenWeather/gen/
src/android-get-temp/.metadata/
